body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: black;
}
 

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.image-wrapper {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, {
    margin-top: 10px; 
    color: white;
}



.image-container1{
    color: white;
    margin-top: 10px;
}


h1{
    font-size: small;
    color: white;
}